/* styles/fonts.css */
@font-face {
  font-family: "SF Pro";
  src:
    local("SF Pro Display Regular"),
    local("SFProDisplay-Regular"),
    local("SF Pro Text Regular"),
    local("SFProText-Regular"),
    local(".SFNSDisplay"),
    local(".SFNSText");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro";
  src:
    local("SF Pro Display Medium"),
    local("SFProDisplay-Medium"),
    local("SF Pro Text Medium"),
    local("SFProText-Medium");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro";
  src:
    local("SF Pro Display Semibold"),
    local("SFProDisplay-Semibold"),
    local("SF Pro Text Semibold"),
    local("SFProText-Semibold");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
